<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<div>
  kwota:<input [(ngModel)]="kwota">
  okres:<input [(ngModel)]="okres">
  marza:<input [(ngModel)]="marza">
</div>
<div>
  wibor:<input [(ngModel)]="wibor">
  prowizja:<input [(ngModel)]="prowizja">
</div>
<div>
  kwota nadplaty:<input [(ngModel)]="nadplata">
  opoznienie nadplaty:<input [(ngModel)]="opoznienieNadplaty">
  czestotliwosc nadplaty:<input [(ngModel)]="czestotliwoscNadplaty">
  rodzaj nadplaty:<input [(ngModel)]="rodzajNadplaty">
</div>
<div>
  <button (click)="click($event)">Oblicz</button>
</div>
<div id="raty">
  <div id="ratyRowne"> 
    <div id="chartContainerRatyRowne"></div>
    <div id="detailsRatyRowne">szczegoly raty rowne
      <table style="width:100%">
        <tr>
          <th>Nr.</th>
            <th>Kwota</th> 
            <th>Rata Kapitalowa</th>
            <th>Odsetki</th>
        </tr>
        <tr *ngFor="let rata of model[0].raty">
          <td>{{ rata.numerRaty }}</td>
          <td>{{ rata.kwota }}</td>
          <td>{{ rata.rataKapitalowa }}</td>
          <td>{{ rata.odsetki }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div id="ratyMalejace">
      <div id="chartContainerRatyMalejace"></div>
      <div id="detailsRatyMalejace">szczegoly raty malejace
        <table style="width:100%">
          <tr>
            <th>Nr.</th>
            <th>Kwota</th> 
            <th>Rata Kapitalowa</th>
            <th>Odsetki</th>
          </tr>
          <tr *ngFor="let rata of model[1].raty">
            <td>{{ rata.numerRaty }}</td>
            <td>{{ rata.kwota }}</td>
            <td>{{ rata.rataKapitalowa }}</td>
            <td>{{ rata.odsetki }}</td>
          </tr>
        </table>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
