#raty {
    display: inline-block;
    border: 1px solid black;
    width: 100%;
  }
 
#ratyRowne, #ratyMalejace {
    display: inline-block;
    border: 1px solid black;
    width: 49%;
    vertical-align: top; /* here */
  }

#chartContainerRatyRowne, #chartContainerRatyMalejace {
    display: inline-block;
    border: 1px solid black;
    width: 100%;
    height: 370px;
}  

#detailsRatyRowne, #detailsRatyMalejace {
    display: inline-block;
    border: 1px solid black;
    width: 100%;
}
